<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mediator -->
      <package
            uri="http://www.leonardo.com/lsaf/sadl/mediator"
            class="mediator.MediatorPackage"
            genModel="mediator.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SADL -->
      <package
            uri="http://www.leonardo.com/lsaf/sadl/SADL"
            class="sadl.SadlPackage"
            genModel="SADL.genmodel"/>
   </extension>

</plugin>
