<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.epsilon.egl.eclipse.dt.launching.EglLaunchConfigurationDelegate">
    <booleanAttribute key="appendToFile" value="false"/>
    <listAttribute key="defaultFormatters"/>
    <intAttribute key="egxGenerateTo" value="1"/>
    <booleanAttribute key="fine_grained_profiling" value="false"/>
    <intAttribute key="generateTo" value="1"/>
    <stringAttribute key="implementation_name" value="Sequential EGX"/>
    <listAttribute key="models">
        <listEntry value="aliases=M&#10;reuseUnmodifiedFileBasedMetamodels=true&#10;modelFile=/com.leonardo. lsaf.sadl.viz/sample.sadl.xmi&#10;metamodelUri=http\://www.leonardo.com/lsaf/sadl/SADL,http\://www.leonardo.com/lsaf/sadl/mediator&#10;concurrent=false&#10;type=EMF&#10;readOnLoad=true&#10;storeOnDisposal=false&#10;expand=true&#10;fileBasedMetamodelUri=&#10;metamodelFile=&#10;cached=true&#10;name=M&#10;modelUri=platform\:/resource/com.leonardo.%20lsaf.sadl.viz/sample.sadl.xmi&#10;isMetamodelFileBased=false&#10;validate=false"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <stringAttribute key="outputDirPath" value=""/>
    <stringAttribute key="outputFilePath" value=""/>
    <listAttribute key="parameters"/>
    <booleanAttribute key="produceTrace" value="false"/>
    <booleanAttribute key="profile_model_loading" value="false"/>
    <booleanAttribute key="profiling_enabled" value="false"/>
    <booleanAttribute key="reset_profiler" value="false"/>
    <stringAttribute key="source" value="/com.leonardo. lsaf.sadl.viz/sadl.egx"/>
    <stringAttribute key="templateFactoryType" value="org.eclipse.epsilon.egl.EglFileGeneratingTemplateFactory"/>
    <stringAttribute key="traceDestination" value=""/>
</launchConfiguration>
